{% extends "FFCoreBundle:Core:menu.html.twig" %}

{% block title %}
  Lecture d'une Commande  - {{ parent() }}
{% endblock %}

{% block body %}
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">

<div id="content" class="col-md-8 my-4">

  <h2>Commande N° {{commande.id}}</h2>

  <div class="well">
  
     {% if commande.etat == '0' %}
     Validée
     {% endif %}
      {% if commande.etat == '1' %}
     En cours de Préparation
     {% endif %}
     {% if commande.etat == '2' %}
     Préparé
     {% endif %}
     
  {% if commande.etat == '3' %}
     En cours de Livraison
     {% endif %}
     
  {% if commande.etat == '4' %}
      Livré
     {% endif %}

  </div>


  <p>
    <a href="{{ path('ff_fast_homeco') }}" class="btn btn-primary ">
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
      Retour
    </a>
    <a href="{{ path('ff_fast_editco', {'idCommande': commande.id}) }}" c class="btn btn-warning">
    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
      Modifier
    </a>
  </p>
</main>
{% endblock %}