{% extends "FFFastBundle:Cuisinier:menu.html.twig" %}

{% block title %}
  Lecture d'une Commande  - {{ parent() }}
{% endblock %}

{% block body %}

  <h2>Commande {{commande.id}}</h2>

  <div class="well">
  
     {% if commande.etat == '0' %}
     Validée
     {% endif %}
      {% if commande.etat == '1' %}
     En cours de Préparation
     {% endif %}
     {% if commande.etat == '2' %}
     Préparé
     {% endif %}
     
  {% if commande.etat == '3' %}
     En cours de Livraison
     {% endif %}
     
  {% if commande.etat == '4' %}
      Livré
     {% endif %}

  </div>


  <p>
    <a href="{{ path('ff_fast_homecu') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à la liste
    </a>
    <a href="{{ path('ff_fast_editcu', {'idCommande': commande.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Modifier
    </a>
  </p>

{% endblock %}