

{% extends "FFFastBundle::layout.html.twig" %}
 {% block title %} Ajouter un produits - {{ parent() }}{% endblock %}
 {% block body %}

  <h2>Ajouter un produit </h2>

  {{ include("FFFastBundle:Produits:form.html.twig") }}

  <p>
    <a href="{{ path('ff_fast_homep') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour
    </a>
  </p>
{% endblock %}
