{% extends "FFCoreBundle::layout.html.twig" %}

{% block menu %}
         <div class="row">
          

        <div class="col-lg-3">

          <h1 class="my-4">Livreur</h1>
          
          <div class="list-group">
          
          <a href="{{ path('ff_fast_homel') }}" class="list-group-item">Accueil </a>
          <a href="{{ path('ff_fast_etatl' , {'etat': '2'} ) }}" class="list-group-item">Commandes non Traités</a>
          <a href="{{ path('ff_fast_etatl' ,{'etat': '3'}) }}" class="list-group-item">Commandes en Cours</a>


          
          </div>

        </div>


{% endblock %}