{% extends "FFFastBundle:Livreur:menu.html.twig" %}

{% block title %}
  Lecture d'une Commande  - {{ parent() }}
{% endblock %}

{% block body %}

  <h2>Commande {{commande.id}}</h2>

  <div class="well">
  
     {% if commande.etat == '0' %}
     Validée
     {% endif %}
      {% if commande.etat == '1' %}
     En cours de Préparation
     {% endif %}
     {% if commande.etat == '2' %}
     Préparé
     {% endif %}
     
  {% if commande.etat == '3' %}
     En cours de Livraison
     {% endif %}
     
  {% if commande.etat == '4' %}
      Livré
     {% endif %}

  </div>


    
    <h3>My Google Maps Demo</h3>
    <div id="map" style="height:400px;"></div>
    <script>
      function initMap() {
        var uluru = {lat: -25.363, lng: 131.044};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBlSXR3qvj7G_YFJpPq6xzAlfIdV5b_jEQ&callback=initMap">
    </script>
  <p>
    <a href="{{ path('ff_fast_homel') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à la liste
    </a>
    <a href="{{ path('ff_fast_editl', {'idCommande': commande.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Modifier
    </a>
  </p>

{% endblock %}