    {% extends "FFShopBundle::layout.html.twig" %}
    {% block menu %}
          <div class="row">

        <div class="col-lg-3">

          <h1 class="my-4">Fast Food</h1>
          
          <div class="list-group">
                 
          {% for gammes in listGammes %}
            <a href="#" class="list-group-item"> {{gammes.name}} </a>
          {% endfor %}
          
          </div>

        </div>
        
{% endblock %}