{% extends "FFCoreBundle:Core:menu.html.twig" %}

{% block title %}
  Page d'accueil - {{ parent() }}
{% endblock %}

{% block body %}

<div id="content" class="col-md-8">


<div class="container">

      <!-- Jumbotron Header -->
      <header class="jumbotron my-4">
        <h1 class="display-3">Bienvenue!</h1>

      </header>


{% endblock %}