

{% extends "FFFastBundle::layout.html.twig" %}
 {% block title %}Modification d'une gamme - {{ parent() }} {% endblock %}
 {% block body %}

  <h2>Editer une Gamme d' ingredient </h2>

  {{ include("FFFastBundle:Ingredients:form.html.twig") }}


  <p>
    <a href="{{ path('ff_fast_viewi', {'id': ingredients.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour
    </a>
  </p>

{% endblock %}
