
{% extends "FFFastBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block ffgammes_body %}

  <h2>Mes Ingredients</h2>

  <ul>
    {% for ingredients in listIngredients %}
      <li>
        <a href="{{ path('ff_fast_viewi', {'id': ingredients.id}) }}">
          {{ ingredients.name }}
        </a>
      </li>
    {% else %}
      <li>Il n'y a pas encore de gammes !</li>
    {% endfor %}
  </ul>
  <p>
    <a href="{{ path('ff_fast_addi')}}" class="btn btn-success">
Ajouter un ingredient    </a>
  </p>
{% endblock %}