

{% extends "FFFastBundle::layout.html.twig" %}
 {% block title %}{{ parent() }} - Index{% endblock %}
 {% block body %}
     <h2> Ajouter une Gamme </h2>

	<div class="well">

  			{{ form(form) }}
	</div>


{% endblock %}
