
{% extends "FFFastBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}

  <h2>Mes Gammes</h2>

  <ul>
    {% for gamme in listGammes%}
      <li>
        <a href="{{ path('ff_fast_view', {'id': gammes.id}) }}">
          {{ gammes.name }}
        </a>
        le {{ games.date|date('d/m/Y') }}
      </li>
    {% else %}
      <li>Pas (encore !) d'annonces</li>
    {% endfor %}
  </ul>

{% endblock %}