{# src/OC/PlatformBundle/Resources/views/Gammes/index.html.twig #}
{% extends "FFFastBundle::layout.html.twig" %}
 {% block title %}{{ parent() }} - Index{% endblock %}
 {% block body %}
     <h2> mes Gammes </h2>
	<ul>
	    <li>{{ gammes }}</li>
	</ul>
     Notre plateforme est un peu vide pour le moment, mais cela viendra !
     <a href="{{ path('ff_gammes_add') }}" class="btn btn-default">       <i class="glyphicon glyphicon-chevron-left"></i>      Ajouter une Gamme    </a>
{% endblock %}
