<!DOCTYPE html>
<html lang="fr">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

  <title>{% block title %}Fast Food{% endblock %}</title>
    
{%stylesheets'@FFFastBundle/Resources/public/vendor/bootstrap/css/bootstrap.min.css' filter='cssrewrite' %}
  <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}

{% stylesheets '@FFFastBundle/Resources/public/css/round-about.css' filter='cssrewrite' %}
  <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}


  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Fast Food</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
        <!-- /.container -->
    
        {% block menu %}
        
        {% endblock %}
        
        {% block body %}
        
        {% endblock %}
        

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">
       Pour votre santé, mangez au moins cinq fruits et légumes par jour.
      <br> 
      Pour votre santé, évitez de manger trop gras, trop sucré, trop salé.
      <br> 
      Pour votre santé, évitez de grignoter entre les repas.
        </p>
      </div>
      <!-- /.container -->
    </footer>

{%javascripts '@FFFastBundle/Resources/public/vendor/jquery/jquery.min.js' %}
    <script src="{{asset_url}}"></script>
{%endjavascripts%}

{%javascripts '@FFFastBundle/Resources/public/vendor/bootstrap/js/bootstrap.bundle.min.js' %}
    <script src="{{asset_url}}"></script>
{% endjavascripts%}
    </body>
    
</html>