
{% block title %}
  FastFood
{% endblock %}

{% block body %}
  <h1>Mon Restaurant</h1>
  <hr>
    <p>
    <a href="{{ path('ff_fast_home') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Gammes
    </a>
    
      <p>
    <a href="{{ path('ff_fast_homei') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Ingrédients
    </a>
  </p>
  </p>
{% endblock %}

  {% block ffgammes_body %}
  <body>
  
  </body>
  {% endblock %}

