{% extends "FFCoreBundle::layout.html.twig" %}

{% block title %}
  FastFood - {{ parent() }}
{% endblock %}


{% block body %}
  <h1>Administrateur</h1>
  <hr>



  {% block ffgammes_body %}

  {% endblock %}

{% endblock %}
