{% extends "FFCoreBundle:Core:menu.html.twig" %}

{% block title %}
  FastFood - {{ parent() }}
{% endblock %}


{% block body %}
<br>
  {% for key, messages in app.session.flashbag.all() %}
    {% for message in messages %}
      <div class="alert alert-{{key}}>
       <strong>succès!</strong> {{ message|trans({}, 'FOSUserBundle') }}
      </div>
    {% endfor %}
  {% endfor %}



  {% block ffadmin_body %}

  {% endblock %}

{% endblock %}
